{# form_module/templates/user-form.html.twig #}

<h1>Custom twig template form</h1>

{{ kint(form) }}

<form{{ attributes }}> {{ form.form_build_id }} {{ form.form_token }} {{ form.form_id }}
  <div>{{ form }} </div>
</form>


{# form.user_form.username  #}
{# form.user_form.username.title  #}
{# form.user_form.username.type #}
{# form.username.title #}
{# form.username #}
{# form.username.label #}
